*
{
    
    margin: 0;
    padding: 0;
}

body
{

    background: #121212;  /* fallback for old browsers */
    background: linear-gradient( rgb(22, 22, 22), rgb(0,0,0)) no-repeat center fixed;

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(6, 6, 12);


}

h2{
    color: white;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    padding: 5px;
}

h3{
    font-style: italic;
    font-size: 24px;
    font-weight: 300;
}

h4 {
    font-style: italic;
    font-size: 28px;
    font-weight: 300;
    color: white;
}

h5{
    font-size: 22px;
    padding: 5px;
    color: white;
    text-decoration: underline;
}

h6{
    font-style: italic;
    font-size: 18px;
    padding: 5px;
}

p {
    font-size: 20px;
    color: rgb(215, 215, 215);
}

li{
    padding: 7px;
    font-size: 18px;
    color: rgb(215, 215, 215);
}

a:hover{
    color: #f95700;
    font-style: italic;
}

.dashboard-title {
    color: rgb(240, 240, 240);
    font-size: 20px;
    font-style: italic;
}

.dashboard-title-left {
    color: rgb(240, 240, 240);
    font-size: 22px;
    font-style: italic;
    text-align: left !important;
    padding-left: 10px;

}

.dashboard-numbers2 {
    font-style: italic;
    font-size: 20px ;
    font-weight: 300;
    color: #F95700FF !important;
    transition: 2s;
}

.dashboard-numbers {
    font-style: italic;
    font-size: 40px ;
    font-weight: 300;
    color: #F95700FF !important;
    transition: 2s;
}

.dashboard-numbers:hover {
    transform: translate(0, -10px);
    color: rgb(255, 146, 51) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.dashboard-number-big {
    font-style: italic;
    font-size: 60px ;
    font-weight: 300;
    color: #F95700FF !important;
    transition: 2s;
}

.dashboard-number-big:hover {
    transform: translate(0, -10px);
    color: rgb(255, 146, 51) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.orange {
   color: #F95700FF;
   font-size: 2rem;
   padding-left: 10px;
}

/* Navigation Bar */

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(12, 12, 12));
    padding-left: 5%;
    padding-right: 5%;
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    
}
/* 
.navbar:hover{
    transform: scale(1.01);
} */


.k{
    font-size: 30px;
    font-weight: bold;
    color: white !important;
}

.navbar-nav li a{
    color: white !important;
    font-weight: bold;
    float: right;
    text-align: left;
    transition: 0.4s;
    font-style: italic;
}

.navbar-nav li a:hover{
    color: #F95700FF !important;
    
}

/* How Section */

#how {
    margin-top: 0%;
    margin-bottom: 0%;
}

#how img{
    margin-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.how-title {
    font-style: italic;
    font-size: 26px;
    font-weight: 600;
    margin-top: 4%;
}

/* Pc-laptop Section */

#pc-laptop {
    margin-bottom: 2%;
}

#pc-laptop img{
    margin-top: 20%;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 70%;
}

/* Footer Section */

.containerFooter {
    position: relative;
    text-align: center;
    color: white;
  }

.containerFooter p{
    font-size: 28px;
}

/* Bottom right text */
.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 28px;
  }



/* Login class */


.login_t img{
    /* padding-top: 5%; */
    margin-top: 90px;
    margin-left: 20%;
    width: 55%;
    margin-bottom: 0px;
    transition: 10s;
}



.login_t p{
    text-align: center;
    margin-left: 34%;
    margin-top: 4%;
    color: grey;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #F95700FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  .containerIndex{
      padding:16px;
      margin: auto;
      margin-bottom: 20px;
      width: 94% !important;
  }

  .container_graphs{
      padding-right: 16px !important;
      margin-bottom: 18px !important;
  }

  .center {
      text-align: center;
  }

  .centerImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
  }

  .container p{
      text-align: center;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  .login-title{
    text-align: left !important;
    font-style: italic;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.login-pool{
    text-align: center !important;
    font-style: italic;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 8px;
}


@media all and (max-width: 767px) { [class^='col-sm-'] {margin-top: 20px; } }

.gap {
    margin-top: 8%;
}

.allpage{
    margin-top: 15%;
}

.gapp {
    margin-top: 2%;
}

.gapSS {
    margin-top: 4%;
}

.red{
    background-color: red;
}

.margin-r{

width: 40% !important;
}

.border-on-section{
    /* margin: 20px; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(18, 18, 18, 0.95) 100%) no-repeat center center fixed;
    /* background: linear-gradient(0deg, rgba(24, 24, 24, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%) no-repeat center center fixed; */
    padding: 16px;
    border: 2px ridge rgb(12, 12, 12);
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6) !important;
    transition: 0.8s;
    margin-bottom: 20px;

}

.border-on-section2{
    margin: auto;
    width: 94%;
    /* background-color: rgb(12, 12, 12,0.5); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(18, 18, 18, 0.95) 100%) no-repeat center center fixed;
  
    border: 2px ridge rgb(22, 22, 22);
    /* text-align: center; */
    padding:40px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6) !important;
    transition: 0.8s;

}

.border-on-section:hover{
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    animation-duration: 4s;

}




/* Logged in page */

#loggedin_banner {
    background-image: url("images/wave_logged.svg");
    background-repeat: no-repeat;
    color: black;
    padding-bottom: 5%;
}
/* buttons used in loggedIn paged */
.btn-logged{
    background-color: white;
    color: #120F0F;
    padding: 20px 10px;
    border: 1px solid #E6E6E6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-logged:hover{
    background-color: #120F0F;
    border: 0.1px solid #120F0F;
    color: white;
    opacity: 1;
    font-weight: bold;
    font-style: italic;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn{
    /* border: 1px solid rgb(58, 58, 58); */
    border: 1px ridge black;
    background: none;
    padding: 20px 10px;
    font-size: 22px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .btnWithdraw{
      color: rgb(249, 87, 0) !important;
    border: 2px ridge black;
    background: none;
    padding: 0px;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 0px;
    /* margin: 10px; */
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    background-color: rgb(40,40,40,0.4);
    font-style: italic;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .btnWithdraw:hover{
    background-color: rgb(249, 87, 0);
    color: black !important;
  }

  .btn-new{
    background-color: rgb(40,40,40,0.4);
    color: rgb(255, 255, 255);
    font-style: italic;
  }
 
  .btn-new:hover{
    color: #fff;
  }
  
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #F95700FF;
    z-index: -1;
    transition: 0.8s;
  }
  .btn-new::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }

  .btn-new:hover::before{
    height: 180%;
  }


.logged_t img{
    /* padding-top: 5%; */
    margin-top: 35px;
    margin-left: 20%;
    width: 78%;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: white !important;
}

.logoClass{
  display: inline-block; 
  max-width: 10%;
  transition: 2s;
}

.logoClass:hover{
    transform:scale(1.1);
}

hr.style-two {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
}


/* Sign up class */
.signup_t img{
    /* padding-top: 5%; */
    margin-top: 20px;
    margin-left: 20%;
    width: 78%;
    margin-bottom: 90px;
}

.card {
    /* position:relative; */
    /* border: 1px solid rgb(58, 58, 58); */
    border: 1px ridge black;
    background-color: rgba(40, 40, 40, 0.4) !important;
    margin-left: 20% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 4s;
}

.cardDashBoard {
    /* border: 1px solid rgb(58, 58, 58); */
    border: 3px ridge black;
    background-color: rgba(40, 40, 40, 0.4) !important;
    margin: 10px !important;
    overflow: scroll;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 2s;
}


.card:hover {
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04); 
  }

.cardDashBoard:hover {
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04); 
  }

.cardPadding{
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px;
    margin-bottom: 80px;
}

.card-title{
    color: white !important;
}

.card-text{
    color: rgb(215, 215, 215);
}

.imgPadding{
    width: 70%;
    padding: 40px;
}

.imgPad2{
    width: 90%;
    padding: 20px;
}

.brixyLogo{
   height: 42px;
   transition: 1s;
}

.brixyLogo:hover{
    transform: rotate(-2deg);
}

.money{
    font-style: italic;
    font-size: 45px;
    font-weight: 300;
    color: rgb(249, 87, 0);
    transition: width 2s, height 2s, transform 1s;
}

.money:hover{
    transform: rotate(2deg);
}

.icon-bit {
    display: inline-block;
    width: 25px;
    height: 25px; 
    background-position: 0 0;
    transition: width 2s, height 2s, transform 1s;
  }

.icon-brick {
    display: inline-block;
    width: 20px;
    height: 20px; 
    background-position: 0 0;
    
}

.icon-bit:hover{
    transform: rotate(-40deg);
}

.brickLayer{
    background-color: rgb(249, 87, 0,0.8);
    /* background-color: rgb(21, 21, 21); */
    text-align: right;
}

.brickLayer p{
    color: rgb(10, 10, 10);
    font-size: 17px;
    font-weight: 500;
    padding-right: 5%;
}

/* Invitation class */
.col-centered{
    float: none;
    margin: 0 auto;
}

.marginBox{
    padding: 50px;
    margin-top: 8%;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}


.btn-enter{
    background-color: #120F0F;
    color: white;
    padding: 10px 5px;
    border: 1px solid rgb(69, 68, 68);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-enter:hover{
    background-color: #120F0F;
    border: 0.1px solid #120F0F;
    color: white;
    opacity: 1;
    font-weight: bold;
    font-style: italic;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover,
button[disabled]{
    font-style: normal;
    font-weight: normal;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


 .bgIndex {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
   
  }
  
 .bgIndex::after {
    
    content: "";
    background: url(images/reImagined@2x.png);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
   /* background-position: top; */
   background-size: cover;
   height: 200vh;
   

   
  } 




/* For index bg picture. */
.jumbotron {
    
    background: #121212;  /* fallback for old browsers */
    background: linear-gradient(rgb(18, 16, 16), rgb(35, 35, 40)) no-repeat center fixed;
    /* background-image: url(images/rubiks\ cube\ bricks2-03.png); */
    background-blend-mode: saturation;
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* box-shadow: 20px 100px 100px 0px rgb(32, 32, 32) inset, -25px -25px 200px 100px rgb(32, 32, 32) inset;  */
  }

  .bg_Logged{
    background-image: url(images/bg_black_logged@2x.png);
    background-color: rgba(32, 32, 32, 0.6);
    background-blend-mode: saturation;
  }

  /* Arrows scroll down. */
  .arrows {
	width: 60px;
	height: 72px;
	position: relative;
	left: 50%;
    margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #F95700FF;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

input {
border: 2px solid black !important;
background-color: rgb(30, 30, 30);
}


input[type=text], input[type=password] {
    color: white !important;
}
input p {
    color: white;
}

a {
    color: rgb(215, 215, 215);
}

.textHome{

    font-size: 20px;
    color: rgb(215, 215, 215);
    text-decoration: underline;
}

/* pool1 */


#playerId{
    font-size: 22px;
    overflow: scroll;
    color: #F95700FF ;
   
}


#noPeople10{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8) ;
   
}


.bg_inside {
    background-image: url(images/banner_in_pages@2x.png);
    background-color: rgba(32, 32, 32, 0.7);
    background-blend-mode: saturation;
}

.canvasLogged {
    
   padding: 20px !important;
   padding-top: 0px !important;
}

.hidden{
    visibility: hidden;
}

.cHeight{
    height: 620px !important;
}

/* .botBut {
    position: absolute;
    bottom:   0;
    margin: auto;
} */

.s2{
    margin-left: 0% !important;
    height: 300px !important;
    width: 100%;
}

.dropbtn{
    color: white;
    background-color: rgb(40,40,40,0.4) !important;

}

.dropbtn:hover{
    color: #fa5700;
    background-color: rgb(40,40,40,0.4) !important;

}

#tierShowing{
    color: rgb(249, 87, 0);
}

#cat{
    color: rgb(249, 87, 0);
}

.colorOr {
    color: rgb(249, 87, 0);
}

.loader, .loader2 {
                overflow: hidden !important;
                position: fixed;
                padding: 0;
                margin: 0;

                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                background: rgb(19, 18, 28) no-repeat center center fixed;
                background: linear-gradient( rgb(22, 22, 22), rgb(0,0,0) 100%) no-repeat center center fixed;            
                z-index: 999;

                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                justify-content: center;
}

.bg2{
    background-image: url("./images/banner_in_pages.png");
      /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left, .right { 
        
            width: 10px; 
            height: 10px; 
            transition: .5s; 
            float: left; 
            box-shadow: -4px 4px 0 rgb(249, 87, 0); 
        } 
  
        .left { 
            transform: rotate(45deg); 
        } 
  
        .right { 
            transform: rotate(-135deg); 
        } 

#graphSection {
    margin-bottom: 40px !important;
}



  .containerFooter {
    position: relative;
    text-align: center;
    color: white;
  }

.containerFooter p{
    font-size: 28px;
}

